<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <title>index</title>
    </head>
    <body>

        <!-- Navbar -->


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">EMP System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a></li>
                    <li class="nav-item active"><a class="nav-link"
                            href="addemp">Add
                            EMP</a></li>

                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <div th:if=${session.msg}>
            <div class="alert alert-success" role="alert"
                th:text="${session.msg}">
            </div>
            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
        </div>


        <div class="container p-5">
            <table class="table table-striped">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${emp}">
                        <th th:text="${e.id}">1</th>
                        <td th:text="${e.name}"></td>
                        <td th:text="${e.address}"></td>
                        <td th:text="${e.email}"></td>
                        <td th:text="${e.phno}"></td>
                        <td th:text="${e.salary}"></td>
                        <td><a class="btn btn-sm btn-primary"
                                th:href="@{/edit/{id}(id=${e.id})}">Edit</a> <a
                                class="btn btn-sm btn-danger"
                                th:href="@{/delete/{id}(id=${e.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="container">

            <p>Total Emp: [[${totalItem}]]</p>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage !=0}" class="page-item"><a
                            class="page-link"
                            th:href="@{'/page/'+${currentPage-1}}">Previous</a></li>
                    <li th:each="i:${#numbers.sequence(1,totalPages)}"
                        th:classappend="${currentPage==i-1 ? 'active' : '' }"
                        class="page-item">

                        <a class="page-link" th:href="@{'/page/'+${i-1}}">[[${i}]]</a>
                    </li>

                    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a
                            class="page-link"
                            th:href="@{'/page/'+${currentPage+1}}">Next</a></li>
                </ul>
            </nav>
        </div>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>